.header-main-container{
    height: 128px;
    width: 100vw;
    background-color:#F0E8E1;
    display: flex;

}
.header-logo{
    left: 56px; top: 5; width: 60% ;
}
.header-logo-main-cont{
    flex:1;
    display: flex;
    justify-content:center;
    align-items:center;
}
.header-navlinks-main-cont{
    flex:2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 8%;
}
.header-navlinks-options{
cursor: pointer;
}
.header-navlinks-options:hover{
    color: #DFA676;
}
.header-sociallinks-main-cont{
    flex:1;
}
.header-mobile-ham{
    display: none;
    
    
}

@media only screen and (max-width: 600px) {
    .header-main-container{
        height:70px;
    }
    .header-navlinks-main-cont{
        display: none;
    }
    .header-sociallinks-main-cont{
        display: none;
    }
    .header-logo{
        left:10px;
        width: 40%;
    }
    .header-logo-main-cont{
        justify-content:start;
        margin-left: 20px;
    }
    .header-mobile-ham{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-right: 15px;
        
    }
  }