.OurStore-main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.OurStore-header-cont{
    flex: .2;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.OurStore-body-cont{
    flex: .8;
    
}
.OurStore-header-tag{
    font-family: 'Constantia';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 99.07%;
/* or 63px */

text-align: center;
letter-spacing: -0.01em;

color: rgba(0, 0, 0, 0.8);
}
.OurStore-product-category-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    overflow-x: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.OurStore-product-display-cont{
    padding: 2% 4%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow-y: scroll;
}
.OurStore-product-category{
    font-family: 'Poppins';
    cursor: pointer;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 99.07%;
/* identical to box height, or 24px */

text-align: center;
letter-spacing: -0.01em;
margin-right: 2%;
color: #908B87;
}

.category-active{
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.OurStore-product-display{
    padding:1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}
.OurStore-product-display:hover{
    background-color: rgba(210, 193, 179, 0.35);
}
.OurStore-product-display-img{
    width:265px;
    height:300px;
}
.OurStore-product-display-name{
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 44px;
margin-top: 3px;
/* identical to box height */


color: #000000;

}

.OurStore-product-display-price{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: rgba(0, 0, 0, 0.59);

}

@media only screen and (max-width: 600px) {
    .OurStore-product-display-img{
        width:100px;
        height:110px;
    }
    .OurStore-product-category{
        font-size: 18px;
        margin: 0 2%;
    }   
    .OurStore-product-category-cont{
        overflow-x: scroll;
        overflow-y: hidden;
        padding:0 5%;
    }
    .OurStore-header-tag{
        font-size: 30px;
    }
    .OurStore-header-cont{
        padding:8% 0;
    }
    .OurStore-product-display{
        margin-top:10px;
    }
    .category-active{
        text-decoration: none;
    }
    .OurStore-product-display-name{
        font-size:18px;
    }
    .OurStore-product-display-price{
        font-size: 16px;
        margin-top: -5px;
    }
}