.NewCollection-main-cont{
    /* height: 700px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}
.NewCollection-header-cont{
    flex: .25;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    padding:4% 0;
    min-height: 180px;
}
.NewCollection-product-cont{
    flex: .75;
    display: flex;
    justify-content:space-around;
    align-items:center;
    align-content: space-around;
    padding: 1% 2%;
    flex-wrap: wrap;
}
.NewCollection-product{
    max-width: 390px;
    min-width: 370px;
    height:382px;
    background: rgba(210, 193, 179, 0.35);
    border-radius: 30px;
    display: flex;
    margin: 2% 1% ;
    flex-direction: column;
    transition: transform .35s ease-in-out;
    cursor: pointer;
  box-shadow: 10px 10px 5px #c3c3c3;
}
.NewCollection-product:hover{
transform: scale(1.1);
}
.NewCollection-product-img-cont{
    flex: .7;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 5%;

}
.NewCollection-product-img{
    width: 340px;
    height:254px;
    border-radius: 30px;

}
.NewCollection-product-name{
    font-family: 'Inter' !important;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* or 133% */

letter-spacing: -0.04em;

color: #000000;
}
.NewCollection-product-price{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 17px;
/* identical to box height */
margin-top: 5px;
letter-spacing: -0.02em;

color: rgba(0, 0, 0, 0.6);
}
.NewCollection-product-detail-cont{
    flex: .3;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.NewCollection-header-tag{
    font-family: 'Constantia';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 99.07%;
/* or 63px */

text-align: center;
letter-spacing: -0.01em;

color: #000000;
}



@media only screen and (max-width: 600px) {
    .NewCollection-main-cont{
        height: 600px;
    }
    .NewCollection-header-tag{
        font-size: 30px;
    }
    .NewCollection-header-cont{
        justify-content: center;
        max-height:100px !important;
        min-height: 100px;
    }
    .NewCollection-product{
        width: 170px;
        min-width: 0;
        height:200px;
        box-shadow: none;


    }
    .NewCollection-product-img{
        width: 150px;
        height: 120px;
    }
    .NewCollection-product-name{
        font-size:18px;
    }
    .NewCollection-product-price{
        font-size: 15px;
    }
}